{% extends "base.html" %}

{% block title %}
Setup
{% endblock %}

{% block contentTitle %}
Setup
{% endblock %}

{% block content %}
<center>
    <form action="#" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
<div class="pt-5">
    <list>
    {% for team in teams %}
            <ul> {{ team.1 }} <a href="/addteam/{{team.0}}">edit</a> <a href="/deleteteam/{{team.0}}">delete</a></ul>
    {% endfor %}
    </list>
</div>
</center>
{% endblock %}