{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'admin/css/custom.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    <title>
      {% block title %}
        Football Pick
      {% endblock %}
    </title>
  </head>
<body class="cbg-light-grey">
      
  <div class="container-fluid">		
    <nav class="navbar navbar-expand-sm navbar-light bg-faded">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-conten" aria-controls="nav-conten" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Brand -->
      <a class="navbar-brand" href="/">Bowl Picks</a>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="nav-conten">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/my-picks">My Picks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/group-picks">Group Picks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/my-participants">My Participants</a>
          </li>
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="/setup">Setup</a>
          </li>
          {% endif %}
          {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/accounts/login">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>
  
  <div class="container-fluid ms-3 mt-5">
    <center>
      <h1 class="ctext-dark-grey">
        {% block contentTitle %}
          Family Football Picks
        {% endblock %}
      </h1>
    </center>
  </div>
  <div class="container-sm mt-3">
    {% block content %}
      <h4>Welcome! Sant Family</h1>
        <br>
        <br>
      <p>
        This website will collect and share our bowl picks this year!
        <br>
        <br>
        The <b>My Picks</b> page will allow you to see and edit your picks. At the beggining, all your picks
        will be empty and you will just see the bowl games. You can click edit and make or change your pick.
        <br>
        <br>
        The <b>Group Picks</b> page will show everyone's picks and allow you to view it in different ways.
        Such as, you can view it by game or by particpant.
        <br>
        <br>
        The <b>My Participants</b> page my not be as useful to you as to other users. Each person, when creating
        an account, will have a participant created that represents them. You can change this name, that is automatically
        the username, to something else without changing your username for your account.
        <br>
        You can also create particpants,
        for others such as your children so that they don't need to create an account. They can then create picks on their
        "particpant" on your account. This can also be used for a spouse that doesn't want to create an account.
        <br>
        <br>
        If you need anything else, concerning this site, then contact your local admin.
      </p>
    {% endblock %}
  </div>

  </body>
</html>