{% extends "base.html" %}

{% block title %}
Group Picks
{% endblock %}

{% block contentTitle %}
Group Picks
{% endblock %}

{% block content %}

    {% if layout == "users" %}
        <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
          <a href='/group-picks/users'> <label class="btn btn-secondary active">
             Users
          </label></a>
          <a href='/group-picks/games'><label class="btn btn-secondary">
             Games
          </label></a>
        </div>
    {% else %}
        <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
          <a href='/group-picks/users'> <label class="btn btn-secondary">
             Users
          </label></a>
          <a href='/group-picks/games'><label class="btn btn-secondary active">
             Games
          </label></a>
        </div>
    {% endif %}

<div class="">
    <div class="pb-2 flex-nowrap overflow-scroll row container rounded responsive">
        {% if layout == "users" %}
            {% for name in users %}
                <div class="col"><a href="/group-picks/users/{{name.0}}">{{name.1}}</a></div>
            {% endfor %}
        {% else %}
        {% for game in bowls %}
                <div class="col"><a href="/group-picks/games/{{game.0}}">{{game.1}}</a></div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class="table-responsive cbg-white container rounded">
    <table class="table table-striped rounded mt-3">
        <tbody>
            
            {% if layout == "users"%}
                {% for game, pick in picks.items %}
                <tr>
                    <th scope="row">{{game}}</th>
                    <th>{{pick.winner}} beats {{pick.loser}} by {{pick.winby}}</th>
                </tr>
                {% endfor %}

            {% else %}
                {% for user, pick in games.items %}
                <tr>
                    <th scope="row">{{user}}</th>
                    <th>{{pick.winner}} beats {{pick.loser}} by {{pick.winby}}</th>
                </tr>
                {% endfor %}
            {% endif %}

        </tbody>
    </table>
</div>
{% endblock %}