{% extends "base.html" %}

{% block title %}
Picks
{% endblock %}

{% block contentTitle %}
My Picks - {{ selected.1 }} <!--<h5><a href="edit">edit</a></h5> Have this link to a series of edit-picks pages for picks that are not filled in-->
{% endblock %}

{% block content %}
    
    <div class="table-responsive cbg-white container rounded">
        <!--A collapsable list of participants-->
        <nav class="navbar navbar-expand-sm navbar-light bg-faded">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#participants_list" aria-controls="participants_list" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="participants_list">
                <ul class="navbar-nav">
                    {% for uindex, luser in  linked_users %}
                        <li class="nav-item">
                            <a class="nav-link" href="/my-picks/{{uindex}}">{{luser}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

        <!--The table containing the picks-->
        <table class="table table-striped rounded mt-3">
            <tbody>
                {% if not picks %}
                    <p>No picks found</p>
                {% endif %}
                {% for pick in picks%}
                    <tr>
                        <th scope="row">{{pick.1}}</th>
                        <th>{{pick.2}}</th>
                        <th><a href="/edit-picks/{{selected.0}}/{{pick.0}}">Edit Pick</a></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}